
div {
    line-height: normal;
}

p, ul, ol, div.highlight {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

h1 {
    font-size: 1.9rem;
    font-weight: bold;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

h4 {
    font-size: 1.1rem;
    font-weight: bold;
}

h5 {
    font-size: 1.0rem;
    font-weight: bold;
}

strong {
    font-weight: bolder;
}

em {
    font-style: italic;
}