
pre {
    overflow-x: auto;
}

div {
    line-height: normal;
}

p, ul, ol, div.highlight {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

h1 {
    font-size: 1.9rem;
    font-weight: bold;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

h4 {
    font-size: 1.1rem;
    font-weight: bold;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

h5 {
    font-size: 1.0rem;
    font-weight: bold;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

li {
    list-style-position: outside;
    margin-left: 1em;
    padding-left: 0.5rem
}

li:not(:last-child) {
    margin-bottom: 0.25em;
}

strong {
    font-weight: bolder;
}

em {
    font-style: italic;
}