---
---

$alternate-bg: rgba(98, 175, 192, 1)
$content-bg: rgba(252, 225, 197, 1)
$selected-blog-bg: rgba(232, 205, 177, 1)
$border-bg: rgba(0, 0, 0, 1)

html
  font-size: 18pt

body
  padding: 0
  margin: 0
  background-color: $alternate-bg

ul
  list-style-type: disc
  list-style-position: inside

ol
  list-style-type: decimal
  list-style-position: inside

ul ul, ol ul
  list-style-type: circle
  list-style-position: inside
  margin-left: 15px

ol ol, ul ol
  list-style-type: lower-latin
  list-style-position: inside
  margin-left: 15px

sup
  vertical-align: super
  font-size: small

#logo
  font-family: 'Sarpanch', sans-serif
  font-size: 50px

#page
  display: grid
  grid-template-columns: 3fr 20fr 2fr
  grid-template-rows: 150px 1fr 150px
  width: 100%
  height: 100%

#header
  grid-row: 1 / span 1
  grid-column: 1 / span 3
  display: flex
  align-items: center
  justify-content: center

#footer
  grid-row: 3 / span 1
  grid-column: 1 / span 3
  padding-bottom: 20px
  display: flex
  align-items: end
  justify-content: center
  font-family: 'JetBrains Mono', monospace
  font-size: 20px

#left-gutter
  grid-row: 2 / span 1
  grid-column: 1 / span 1

#right-gutter
  grid-row: 2 / span 1
  grid-column: 3 / span 1

#content
  padding: 20px 5% 10px 5%
  grid-row: 2 / span 1
  grid-column: 2 / span 1
  background-color: $content-bg
  border-left: 10px solid $border-bg
  border-right: 10px solid $border-bg
  border-top: 2px solid $border-bg
  border-bottom: 2px solid $border-bg
  font-family: 'Nunito', sans-serif
  border-radius: 40px 40px

#nav
  border-bottom: 3px solid $border-bg

.navItem
  background-color: transparent
  border: 3px solid $border-bg
  border-top-left-radius: 10px 10px
  border-top-right-radius: 10px 10px
  padding-left: 10px
  padding-right: 10px

  /* horizontal "border-collapse" for things that aren't TDs :-/ */
  margin-left: -3px

  a:visited,
  a:link
    color: black
    text-decoration: none

#selected-menu-item
  border-bottom: 3px solid $content-bg

#blogPostWithNav
  display: grid
  grid-template-columns: 80% 20%
  grid-template-rows: 100%
  width: 100%

#blogPostContent
  grid-row: 1 / span 1
  grid-column: 1 / span 1
  padding-right: 20px

#blogPostNav
  grid-row: 1 / span 1
  grid-column: 2 / span 1
  margin-top: 30px
  margin-bottom: 30px
  padding-left: 15px
  border-left: 1px solid $border-bg

  ul
    list-style-type: none
    font-size: 0.8em

    li
      padding: 5px
      margin-bottom: 15px
      text-align: left

    #selected-blog-post
      background-color: $selected-blog-bg

    a:visited,
    a:link
      color: black

.footnotes
  border-top: 1px solid black
  font-size: small
